body {
  background-color: #add8ae;
}

.column {
  width: 300px;
  float: left;
}

img {
  float: right;
  width: 600px;
}

h1 {
  text-align: center;
  font-style: oblique;
  background-color: #add8e6;
}

